!!! 5
%html{ lang: :ja }
  %head
    != css_link_tag 'sample.css'
  %body
    != render 'sample_header'
    %h1.title
      SAMPLE TEXT
      != image_tag 'images/dummy.png', alt: 'DUMMY', class: 'title-img'
